[Unit]
After=syslog.target network.target docker.service
[Service]
ExecStart=/usr/local/bin/eulixspace-upgrade
Restart=always
[Install]
WantedBy=multi-user.target